REACT_APP_URL=https://anmemo-web.herokuapp.com
REACT_APP_API_URL=https://anmemo-api.herokuapp.com/api/
REACT_APP_SOCKET_SERVER=https://anmemo-api.herokuapp.com
REACT_APP_SOCKET_CLIENT=https://anmemo-web.herokuapp.com
REACT_APP_DOCUMENT_STATIC_ENDPOINT=https://anmemo-api.herokuapp.com/images/
REACT_APP_ENV=Local
REACT_APP_PERSIST_SECREY_KEY=Faculty@2022!
