REACT_APP_URL=http://localhost:3000
REACT_APP_API_URL=http://localhost:8080/api/
REACT_APP_SOCKET_SERVER=http://localhost:8080
REACT_APP_SOCKET_CLIENT=http://localhost:3000
REACT_APP_DOCUMENT_STATIC_ENDPOINT=http://localhost:8080/images/
REACT_APP_ENV=Local
REACT_APP_PERSIST_SECREY_KEY=Faculty@2022!
